<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <img src="/img/me.jpg" alt="me" class="portrait">
            {{!-- <p>{{name}}</p> --}}
            {{>footer}}
        </div>
    </body>
</html>